.container
	h2 Ваши преимущества при работе с нами
	.row
		.col-md-6
			.bonus_item.bonus_before
				.bonus_title Преимущества до покупки
				ul.bonus_list
					li Бесплатная доставка
					li Четкая консультация
					li Не надо ждать, приборы всегда в наличии
					li Проверка прибора до оплаты заказа
		.col-md-6
			.bonus_item.bonus_after
				.bonus_title Преимущества после покупки
				ul.bonus_list
					li Гарантия на приборы 5 лет
					li Возможность перепрошивки на новый авто не покупая прибор
					li Техническая поддержка клиента
					li Приятный подарок для автолюбителя