.product-info
	.attributes.left
		div(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
			.price
				span.fs24
				span.pr
					span(itemprop='price') 2490
				span(itemprop='priceCurrency', style='display: none') RUB
				span.rub р
				br
		.cart
			div
				input(type='hidden', name='product_id', size='2', value='319')
				#button-cart.button-buy(type='button')
				#button-cart-one.button-buy-one(type='button')
		.advantages
			h3 Преимущества прибора
			ul
				li При увеличении пробега, данные записываются во всех блоках
				li Подключение к прикуривателю автомобиля
				li Скорость увеличения пробега можно регулировать
				li Возможно использовать в движении и при выключеном двигателе
	.banner-left.left
		.delivery
			h3 Доставка
			p
				span(style='font-size: 13px; color: rgb(63, 64, 68); font-family: Arial, Helvetica, sans-serif;')
					| Доставка прибора специалистом: 
					strong бесплатно
			p
				span(style='font-size: 13px; color: rgb(63, 64, 68); font-family: Arial, Helvetica, sans-serif;')
					| Самовывоз: 
					strong бесплатно
			a#delivery_colorbox.cboxElement(href='http://test.motalka.ru/index.php?route=information/information/info&information_id=5', title='Условия доставки!') Условия доставки!
		.payment
			h3 Оплата
			p
				span(style='color: rgb(63, 64, 68); font-family: Arial, Helvetica, sans-serif; font-size: 13px;') Наличными или банковской картой, после проверки прибора на вашем автомобиле
		.warranty
			h3 Гарантия
			p
				| Возможна расширенная гарантия
			a#warranty_colorbox.cboxElement(href='http://test.motalka.ru/index.php?route=information/information/info&information_id=11', title='Подробнее') Подробнее