p.blue Универсальные приборы подходят для слеюущих марок автомоблей:
.auto--list.DivToScroll
	.auto--list__inner.DivWithScroll
		- for (var y = 0; y < 6; y++)
			.col-lg-2.col-sm-4.col-xs-12
				ul.lh30
					li
						a(title='Audi', href='http://test.motalka.ru/audi/') Audi
							span 1200
					li
						a(title='BMW', href='http://test.motalka.ru/bmw/') BMW
							span 1200
					li
						a(title='Cadillac', href='http://test.motalka.ru/cadillac/') Cadillac
							span 1200
					li
						a(title='Chevrolet', href='http://test.motalka.ru/chevrolet/') Chevrolet
							span 1200
					li
						a(title='Citroen', href='http://test.motalka.ru/citroen/') Citroen
							span 1200
.center__flex
	a.btn_custom(href='#', title='Заказать звонок') Полный список совместимых автомобилей