.contact.bg_gray
	.container
		h2 Как нас найти?
		.contact-flex
			.contact_address
				p
					| Круглосуточно. Без выходных
					br
					a(href='tel:84996382937', title='8 (499) 638-2937')
						span 8 (499)
						|  638-2937
						br
						| Звонок бесплатный
					br
					a(href='tel:88005000738', title='8 (800) 500-0738')
						span 8 (800)
						|  500-0738
				p
					| Email:
					br
					a(href='mailto:info@motalka.ru', title='info@motalka.ru') info@motalka.ru
					|	ул. Островитянова, 43А
					br
				.vcard(style='display: none')
					div
						span.fn.org Motalka.ru
					div
						span.tel
							span 8 (499)
							|  638-2937
					.adr
						span.locality Москва
						span.street-address
							| ул. Островитянова, 43А
							br
						span.street-address
							| ул. Земляной Вал, 48Б
							br
						span.street-address
							| ул. Валдайский проезд, 8
							br
						span.street-address
							| ул. Лечебная улица, 6с8
							br
							|	ул. Земляной Вал, 48Б
							br
							|	ул. Валдайский проезд, 8
							br
							|	ул. Лечебная улица, 6с8
							br
			script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac829bbb9b34ec12897dfdbed6f13d3f2dcda4afe230de404e7e7ebde5073f523&width=100%25&height=255&lang=ru_RU&scroll=false')
