.footer
	.container
		.footer_logo(itemscope='', itemtype='http://schema.org/ImageObject')
			a(href='http://test.motalka.ru/', title='Подмотка Крутилка спидометра Моталка Намотка спидометра Корректор')
				img(itemprop='contentUrl', src='./sourse/logo.png', title='Подмотка Крутилка спидометра Моталка Намотка спидометра Корректор', alt='Подмотка Крутилка спидометра Моталка Намотка спидометра Корректор')
		.footer_menu
			.footer_links
				a(href='http://test.motalka.ru/about_us', title='О компании') О компании
				a(href='http://test.motalka.ru/faq', title='Вопросы и ответы') Вопросы и ответы
				a(href='http://test.motalka.ru/rasshirennaya-garantiya', title='Гарантия') Гарантия
				a(href='http://test.motalka.ru/delivery', title='Доставка ') Доставка 
				a(href='http://test.motalka.ru/contacts', title='Контакты') Контакты
		.footer_copy
			| Copyright © motalka 2009 – 2017
