.header
   .container
      .header_content
         .header_item.header_slogan
            .header_slogan_text Интернет-магазин по продаже приборов для самостоятельного увеличения пробега
            .header_slogan--phone.visible-xs
               p
                  | Круглосуточно. Без выходных                
                  a(href='tel:84996382937', title='8 (499) 638-2937')
                     span 8 (499)
                     |  638-2937
               p.last.to_scroll
                  | Звонок бесплатный                
                  a(href='tel:88005000738', title='8 (800) 500-0738')
                     span 8 (800)
                     |  500-0738
         .visible-xs.header_menu
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navigation-menu', aria-expanded='false')
               span.icon-bar
               span.icon-bar
               span.icon-bar
         .header_item.header_logo(itemscope='', itemtype='http://schema.org/ImageObject')
            a(href='http://test.motalka.ru/', title='Подмотка Крутилка спидометра Моталка Намотка спидометра Корректор')
               img(src='http://test.motalka.ru/image/data/logo.png', alt='')
         .header_item.header_phone
            | Круглосуточно. Без выходных                
            a(href='tel:84996382937', title='8 (499) 638-2937')
               span 8 (499)
               |  638-2937
         .header_item.header_phone
            | Звонок бесплатный                
            a(href='tel:88005000738', title='8 (800) 500-0738')
               span 8 (800)
               |  500-0738
         .header_item.header_call.callback
            a.btn_custom.btn-block(href='http://test.motalka.ru/callback', title='Заказать звонок') Заказать звонок
div(itemscope='', itemtype='http://schema.org/SiteNavigationElement').to_scroll
   ul.no-margin
      .menu.js-menu-sticky
         .container
            .row
               #main-navigation-menu.collapse.navbar-collapse
                  ul.menu_node
                     li
                        a(title='О компании', href='http://test.motalka.ru/about_us', itemprop='discussionUrl') О компании
                     li
                        a(title='Вопросы и ответы', href='http://test.motalka.ru/faq', itemprop='discussionUrl') Вопросы и ответы
                     li
                        a(title='Гарантия', href='http://test.motalka.ru/rasshirennaya-garantiya', itemprop='discussionUrl') Гарантия
                     li
                        a(title='Доставка ', href='http://test.motalka.ru/delivery', itemprop='discussionUrl') Доставка 
                     li
                        a(title='Описание') Описание
                        ul.sub-menu
                           li
                              a(href='http://test.motalka.ru/articles/', title='Статьи', itemprop='discussionUrl') Статьи
                           li
                              a(href='http://test.motalka.ru/tracking/', title='Отслеживание отправлений', itemprop='discussionUrl') Отслеживание отправлений
                           li
                              a(href='http://test.motalka.ru/connection', title='Подключение', itemprop='discussionUrl') Подключение
                           li
                              a(href='http://test.motalka.ru/options', title='Варианты комплектации', itemprop='discussionUrl') Варианты комплектации
                     li
                        a(href='http://test.motalka.ru/contacts', title='Контакты', itemprop='discussionUrl') Контакты
               .clearfix.visible-xs.mobile_info
                  .menu_phone
                     a(title='8 (499) 638-2937', href='tel:84996382937')
                        span 8 (499)
                        |  638-2937
                     .descr Круглосуточно. Без выходных
                  .menu_call.callback
                     a.btn_custom.btn-block(title='Заказать звонок', href='http://test.motalka.ru/callback') Заказать звонок
.main_banner.empty_header.empty_header__05
   .container
      .row
         h1
            | Контролируй расходы на топливо 
            br
            |  с прибором для увеличения 
            br
            | пробега motalka.ru
.model_search.empty
   .container
      .model_search_filter
         .model_search_head
            form.model_search_form(action='http://test.motalka.ru/search')
               .model_search_item.model_search_w_28
                  label
                     select#brends-select-1.form-control.empty(name='category_id')
                        option(value='', disabled='', selected='') Марка
                        option(value='18', data-url='http://test.motalka.ru/audi/') Audi
                        option(value='60', data-url='http://test.motalka.ru/bmw/') BMW
                        option(value='76', data-url='http://test.motalka.ru/cadillac/') Cadillac
                        option(value='77', data-url='http://test.motalka.ru/chevrolet/') Chevrolet
                        option(value='91', data-url='http://test.motalka.ru/citroen/') Citroen
                        option(value='92', data-url='http://test.motalka.ru/daewoo/') Daewoo
                        option(value='25', data-url='http://test.motalka.ru/fiat/') Fiat
                        option(value='20', data-url='http://test.motalka.ru/ford/') Ford
                        option(value='96', data-url='http://test.motalka.ru/great-wall/') Great Wall
                        option(value='75', data-url='http://test.motalka.ru/honda/') Honda
                        option(value='78', data-url='http://test.motalka.ru/hyundai/') Hyundai
                        option(value='93', data-url='http://test.motalka.ru/infiniti/') Infiniti
                        option(value='97', data-url='http://test.motalka.ru/jeep/') Jeep
                        option(value='57', data-url='http://test.motalka.ru/kia/') Kia
                        option(value='74', data-url='http://test.motalka.ru/land-rover/') Land-Rover
                        option(value='79', data-url='http://test.motalka.ru/lexus/') Lexus
                        option(value='17', data-url='http://test.motalka.ru/mazda/') Mazda
                        option(value='62', data-url='http://test.motalka.ru/mercedes/') Mercedes 
                        option(value='73', data-url='http://test.motalka.ru/mitsubishi/') Mitsubishi
                        option(value='24', data-url='http://test.motalka.ru/nissan/') Nissan
                        option(value='65', data-url='http://test.motalka.ru/opel/') Opel
                        option(value='80', data-url='http://test.motalka.ru/peugeot/') Peugeot
                        option(value='72', data-url='http://test.motalka.ru/renault/') Renault
                        option(value='81', data-url='http://test.motalka.ru/skoda/') Skoda
                        option(value='33', data-url='http://test.motalka.ru/ssangyong/') SsangYong
                        option(value='59', data-url='http://test.motalka.ru/suzuki/') Suzuki
                        option(value='66', data-url='http://test.motalka.ru/toyota/') Toyota
                        option(value='71', data-url='http://test.motalka.ru/volkswagen/') Volkswagen
                        option(value='82', data-url='http://test.motalka.ru/volvo/') Volvo
                        option(value='61', data-url='http://test.motalka.ru/vaz/') ВАЗ (Lada) 
                        option(value='87', data-url='http://test.motalka.ru/gaz/') Газ
                        option(value='95', data-url='http://test.motalka.ru/uaz/') УАЗ
                        option(value='94', data-url='http://test.motalka.ru/iveco/') Iveco
                        option(value='83', data-url='http://test.motalka.ru/scania/') Scania
                        option(value='85', data-url='http://test.motalka.ru/kamaz/') Камаз
                        option(value='86', data-url='http://test.motalka.ru/maz/') Маз
               .model_search_item.model_search_w_28
                  label
                     select#cars-select-1.form-control.empty(name='product_id')
                        option(value='', disabled='', selected='') Модель
               .model_search_item.model_search_w_16
                  a#search-block-submit-1.btn_custom.btn-block(title='Узнать', href='http://test.motalka.ru/search') Узнать