#kak-sdelat-zakaz.order
	.container
		h2 Как сделать заказ прибора?
		.order_list
			.order_item
				.order_icon(itemscope='', itemtype='http://schema.org/ImageObject')
					img(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-order_1.png')
				.order_text.callback
					p Оставьте заявку или закажите обратный звонок
					
			.order_item
				.order_icon(itemscope='', itemtype='http://schema.org/ImageObject')
					img(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-order_2.png')
				.order_text
					p Подберем Вам прибор и ответим на все Ваши вопросы
			.order_item
				.order_icon(itemscope='', itemtype='http://schema.org/ImageObject')
					img(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-order_3.png')
				.order_text
					p Договариваемся об удобном для Вас времени и месте доставки
			.order_item
				.order_icon(itemscope='', itemtype='http://schema.org/ImageObject')
					img(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-order_4.png')
				.order_text
					p Вместе проверяем работу прибор на вашем автомобиле
			.order_item
				.order_icon(itemscope='', itemtype='http://schema.org/ImageObject')
					img(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-order_5.png')
				.order_text
					p Только полсе проверки вы оплачиваете заказ
			a.btn_custom.visible-sm.visible-xs(href='#', title='Заказать звонок') Заказать звонок
		.callback
			p
				a.btn_custom.hidden-sm.hidden-xs(href='#', title='Заказать звонок') Заказать звонок
