.container
	.row.flex-column
		.col-md-12
			h3  Прибор подходит к следующим поколениям автомобилей: 
			.bonus_item.bonus_item_3.bonus_before
				.auto_le
					span.span_auto Работает
					img(src='image/auto.jpg')
					p Ford Ranger 2000-2005, рестайлинг, 2,3 л 4х4 Titanium
				.auto_le
					span.span_auto Работает
					img(src='image/auto.jpg')
					p Ford Ranger 2000-2005, рестайлинг, 2,3 л 4х4 Titanium
		h3 Для следующих поколений авто нужен другой прибор:
		.col-md-12
			.bonus_item.bonus_after_2
				.auto_le.auto_le_bot
					span.span_auto_2 Внимание
					img(src='image/auto.jpg')
					p Ford Ranger 2000-2005, рестайлинг, 2,3 л 4х4 Titanium
