.knowledge.bg_gray
	.container
		h2
			| Прибор полностью окупает себя в среднем в течение
			| 2-3 недель использования:
		.knowledge_list
			.row
				.col-lg-6
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='image/65.png')
						.knowledge_caption
							.knowledge_description
								p(style='\
								font-weight: 600;\
								font-size: 14px;\
								color: black;\
								padding-left: 53px;\
								padding-top: 18px;\
								')
									span.work_menu_title 65%
									|  пользователей окупают прибор в течение
									| 1-2 недель использования
				.col-lg-6
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='image/95.png')
						.knowledge_caption
							.knowledge_description
								p(style='\
								font-weight: 600;\
								font-size: 14px;\
								color: black;\
								padding-left: 53px;\
								padding-top: 18px;\
								')
									span.work_menu_title 95%
									|  пользователей окупают прибор в течение
									| 3-4 недель использования
.knowledge
	.container
		h2 Прибор перед продажей прозодит 4 уровня контроля качества:
		.knowledge_list
			.row
				.col-lg-3
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='image/like.jpg')
						.knowledge_caption
							.knowledge_description
								p Входной контроль комплектующих на производстве
				.col-lg-3
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='image/like.jpg')
						.knowledge_caption
							.knowledge_description
								p Тестирование собранного прибора на производстве
				.col-lg-3
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='image/like.jpg')
						.knowledge_caption
							.knowledge_description
								p Проверка прибора на машине у клиента перед оплатой
				.col-lg-3
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='image/like.jpg')
						.knowledge_caption
							.knowledge_description
								p Автоматический контроль-проверка спаенных микросхем
.knowledge.bg_gray
	.container
		h2 Приемущества универсальной крутилки спидометра?
		.knowledge_list
			.row
				.col-lg-4
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-knowledge_1.png')
						.knowledge_caption
							h4.knowledge_title Это не нарушает закон
							.knowledge_description
								p
									| В РФ на данный момент не существует закона или положения, которое бы регулировало самостоятельное увеличение пробега автомобиля. Потому намотка пробега на территории РФ не запрещена. считается легально и не подлежит уголовному или административносму наказанию
				.col-lg-4
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-knowledge_2.png')
						.knowledge_caption
							h4.knowledge_title Безопасно для автомобиля
							.knowledge_description
								p
									| За 18 лет работы мы протестировали почти 7000 наших приборов более чем на 400 марок автомобилей разных лет выпуска и можем гарантировать безопасность наших устройст для электрики вашего автомобиля
				.col-lg-4
					.knowledge_item(itemscope='', itemtype='http://schema.org/ImageObject')
						img.knowledge_icon(itemprop='image', src='http://test.motalka.ru/catalog/view/theme/default/image/icon-knowledge_3.png')
						.knowledge_caption
							h4.knowledge_title Невозможно выявить на ТО
							.knowledge_description
								p
									| При намотке пробега прибор имитирует импульсы, которые на 100% соответсвуют штатному функционарованию системы фиксации пробега в авто - пожтому намотанный пробег невозможно выявить любыми современными диагностическими приборами
