<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title candy
	link(rel="stylesheet", href="css/reset.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/style.css")
body
	block content