media(maxWidth)
	@media screen and (max-width: maxWidth)
		{block}
*
	padding 0
	margin 0
	box-shadow border-box
	font-family: 'Open Sans'
	
.flex
	display flex
	justify-content center
	align-items center
	flex-wrap wrap

.prew
	display flex
	flex-shrink 0
	max-width 42%
	width 459px
	flex-wrap wrap
	justify-content center
	align-items center
	+media(1200px)
		width 100%
		max-width 100%
	img
		width auto
	&__big
		max-width: 385px
		width 100%
		+media(1200px)
			max-width 60%
			text-align center
	&__small
		width 30%
		max-width 81px
		margin-right 13px
		margin-top 20px
		+media(480px)
			max-width 50px
	&--bottom
		width 460px
		display flex
		justify-content flex-start
		align-items center
		+media(1200px)
			justify-content center
		
.product-info 
	overflow hidden
	margin 0 0 5px 0
	padding 0
	display flex
	align-items center
	flex-shrink 0
	+media(1200px)
		width 100%
		justify-content space-around
		margin-top 2em
	.warranty
		height: 210px
		background: url(../image/warranty-bg.png) center 112px no-repeat
	.attributes,
	.banner-left
		flex-shrink 0 
	.banner-left h3
		top 0
	.price 
		.rub
			margin 0
	.advantages
		ul
			li
				background: url(../image/pi-book.png) 4px 8px no-repeat
	.delivery, .payment, .warranty
		padding: 20px
		border: 1px solid #e8e8e8
		h3
			width 130px
			background transparent
			position relative
			margin 0
			padding 0
			left 0
			top 0

.tab
	display flex
	&__header
		color: #1e1e1e
		font-family: "Open Sans"
		font-size: 14px
		font-weight: 700
		line-height: 22px
	p
		color: #666666
		font-family: "Open Sans"
		font-size: 14px
		font-weight: 300
		line-height: 22px
		margin 8px 0
	li
		padding 13px 30px
		span
			color: #b1b1b1
			font-family: "Open Sans"
			font-size: 14px
			font-weight: 300
			line-height: 22px
		a
			font-family: "Open Sans"
			font-size: 16px
			font-weight: 300
			line-height: 22px
			color: #076abd
			&:focus
				outline 0
		&.ui-state-active
			a
				color: #333334
				text-decoration none
.features
	display flex
	padding-top 2em
	+media(1200px)
		width 100%
		flex-direction column
		align-items center
	img
		flex-shrink 0
		margin-right 2em
		width: 370px
		height: 408px
.table
	&--line
		width 100%
		display flex
		justify-content space-between	
		p
			color: #333333
			font-family: "Open Sans"
			font-size: 14px
			font-weight: 600
			&:nth-last-child(1)
				color: #076abd

.overflow-review
	max-height: 480px
	overflow-y scroll
	margin-bottom 2em !important
	+media(1024px)
		overflow-y hidden
		max-height 100%
	

.review
	margin-bottom 2em
	&:nth-child(-n+2)
		+media(1024px)
			display block !important
	+media(1024px)
		display none
		padding 15px
		border: 1px solid #c1c1c1
		background-color: rgba(7, 106, 189, 0)
	p
		margin 10px 0
	&--header
		display flex
		p
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7)
			color: #333333
			font-size: 16px
			font-weight: 700
		&__date
			opacity: 0.5
			font-size: 14px
			font-weight: 300
			&::before
				content ''
				display inline-block
				background url('../img/review--time.png')
				width 15px
				height 14px
				margin 0 .2em 0 1em
	&--form
		margin-top 2em
		display flex
		justify-content flex-end
		flex-wrap wrap
		+media(1200px)
			flex-direction column
		.left
			margin-right 2em
			+media(800px)
				margin-right 0
		input,
		textarea
			&::placeholder
				color: #333
				opacity .6
				transition: 0.5s ease all
			&:focus
				&::placeholder
					color: transparent
					transition: 0.5s ease all		
		&__name
			background: url("../img/form__name.png") 95% center no-repeat !important
		&__mail
			background: url("../img/form__mail.png") 95% center no-repeat !important
		input
			width: 359px
			height: 43px
			border-radius: 1px 2px 2px 1px
			border: 1px solid #d9d9d9
			display block
			margin-bottom 20px
			color #333
			padding 18px 16px
			+media(800px)
				width 100%
			&[type="submit"]
				width: 220px
				height: 43px
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55)
				color: #076abd
				font-family: "Open Sans"
				font-size: 14px
				font-weight: 600
				padding 0
				box-shadow: 0 1px 0 rgba(33, 111, 178, 0.67), inset 0 -1px 0 rgba(0, 0, 0, 0.17)
				border-radius: 1px 2px 2px 1px
				background: #f7e28b
				transition: 0.5s ease all	
				+media(1024px)
					margin-top 1em
				&:hover
					background: #e5ce8c
					color #333
		&__message
			width: 751px
			height: 106px
			border-radius: 1px 2px 2px 1px
			border: 1px solid #d9d9d9
			background-color: rgba(255, 255, 255, 0)
			color #333
			padding 19px 17px
			+media(800px)
				width 100%
.float
	&__left
		float left
	&__right
		float right
.clear
	clear both
.tabs
	&__faq
		padding-top 1em
		display flex
		+media(1024px)
			flex-direction column
			align-items center
		&--item
			width 100%
		ol
			counter-reset: myCounter
			padding-left 2em
		li
			list-style: none
			margin 13px 0
			&.ui-state-active
				a
					color: #076abd
			a
				font-size 14px
				text-decoration none
				color: #1e1e1e
				&:focus
					outline 0
			&:before
				counter-increment: myCounter
				content: counter(myCounter) '.'
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7)
				color: #076abd
				font-family: "Open Sans"
				font-size: 15px
				font-weight: 700
				line-height: 18px
				margin-right 1em
				margin-left -2em

		&__header
			flex-shrink 0
			margin-right 5%
			max-width 25%
			padding-left 2em
			&.lists
				+media(1024px)
					width 100%
					max-width 100%
					padding-left 4em
					margin-bottom 2em
			.top
				color: #076abd
				font-family: "Open Sans"
				font-size: 20px
				font-weight: 700
				text-transform: uppercase
				margin-bottom 1em
.accordeon 
	border-top: none
	margin: 10px 0
	float: left
	width: 100%
	position: relative
	a 
		display: block
		text-decoration: none
.answer 
	color: #555
	border: 1px solid #dcdcdc
	margin-top: -18px
	border-top: 2px solid #FFF
	border-radius: 6px
	padding 20px 18px
	padding-top 0
	position relative
	&::after
		content ''
		width 100%
		height 10px
		display block
		position absolute
		left 0
		top 0
		background: #fff
.ac_head
	font-size 12pt
	text-transform uppercase
	padding 19px 24px
	cursor pointer
	border: 1px solid #dcdcdc
	background-color: rgba(7, 106, 189, 0)
	margin 10px 0
	border-radius 6px
	color: #333333
	font-size: 14px
	font-weight: 700
	line-height: 22px
	position relative
	&.js_up
		.ac_head--array
			transform rotate(90deg)
	&--array
		position absolute
		right 1em
		transition .5s ease all
.ac_head::after
	content: ''
	display: block
	width: 10px
	height: 6px
	float: right
	margin-top: 5px
.ac_head.js_up::after
	background-position: 0 6px
	
.model_search_list,
.model_search_group
	margin 0
	padding 0

.em-2
	margin-top -2em
	p
		color: #1e1e1e
		font-family: "Open Sans"
		font-size: 14px
		font-weight: 300
		line-height: 24px
	li
		display flex
		align-items center
	ol
		p
			margin 0
.how_work
	width 100%
	display flex
	a
		width 60%
	.prew--bottom
		display flex
		flex-direction column
		width 40%
.some_flex
	display flex
	&>div
		+media(768px)
			width 100%
	+media(768px)
		flex-wrap wrap

.product_description
	width: 55%
	margin-right: 5%

.owl
	&-carousel
		position relative
	&-nav
		display flex
		justify-content space-between
		width calc(100% + 36px + 20px)
		position absolute
		left calc(-16px - 10px)
		height 0
		top calc(50% - 19px - 1em)
	&-dots
		display: flex
		width: initial
		margin: 1em auto
		justify-content: flex-start
		position: relative
		margin-left 80px
	&-prev
		width 18px
		height 35px
		background url('../img/next.png')
		transform rotate(180deg)
		&:hover
			background url('../img/next.png')
			transform rotate(180deg)
	&-next
		width 18px
		height 35px
		background url('../img/next.png')
	&-dot
		width 10px
		height 10px
		margin 5px 10px
		background #ababab
		border-radius 50%
		transition .5s ease
		&:hover
			background #cbcbcb
		&.active
			width 10px
			height 10px
			margin 5px 10px
			background #2a82cc
			border-radius 50%
	&-item
		padding 0 80px

.slider
	&--header
		color: #076abd
		font-size: 15px
		line-height: 26px
		text-transform: uppercase
		font-weight: 700
		&__age
			font-weight 300
			text-transform none
.btn__send-review		
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55)
	color: #0066cc
	font-size: 16px
	font-weight: 400
	line-height: 27px
	width: 250px
	height: 48px
	border-radius: 1px
	border: 2px solid #2a82cc
	background: transparent
	border-radius 5px
	transition .5s ease all
	&:hover
		background: #0066cc
		color #fff
		
.contact-flex
	display flex
.contact_address
	margin-right 2em
	
.product
	&_description
		+media(1200px)
			margin 0
	&_preview
		+media(1200px)
			display flex
			align-items center
.product-info 
	+media(768px)
		flex-wrap wrap
	.banner-left
		+media(1200px)
			width 320px !important
	.attributes, 
	.banner-left
		flex-shrink: 0
		display: flex
		flex-direction: column
		align-items: center

p.desktop__hide
	text-decoration underline
	color: #076abd
.desktop__hide
	display none
	color: #333334
	font-family: "Open Sans"
	font-size: 16px
	font-weight: 300
	line-height: 22px
	img
		position absolute
		right 2em
		transition .5s ease all
		top: calc(50% - 9px)
	+media(1024px)
		height: 50px
		border: 1px solid #076abd
		background-color: rgba(242, 242, 244, 0)
		display: flex
		align-items: center
		padding-left: 2em
		position relative
p.ui-accordion-header-active
	text-decoration none
	color #333
	border 0
	img
		position: absolute
		right: 2em
		transform: rotate(90deg)

.tabs__wrapper
	& > div
		+media(1024px)
			height: 100% !important



.button__hide
	margin 0 auto
	text-align center
	width: 220px
	height: 43px
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.55)
	color: #076abd
	font-family: "Open Sans"
	font-size: 14px
	font-weight: 600
	padding 0
	box-shadow: 0 1px 0 rgba(33, 111, 178, 0.67), inset 0 -1px 0 rgba(0, 0, 0, 0.17)
	border-radius: 1px 2px 2px 1px
	background: #f7e28b
	transition: 0.5s ease all	
	display flex
	justify-content center
	&:hover
		background: #e5ce8c
		color #333
			
.product-info 
	.button-buy
		width 295px !important
		
.pseudo
	position: absolute
	right: 9px
	top: -10px
	background: transparent
	box-shadow: 0 0 8px -2px #f00
	display: block
	width: 7px
	height: 105%
	/*----*/
	display none
	

.scroll__wrapper
	position relative
	padding-right 10px
	width 100%
	margin 0 auto
/*
.custom__bar
	min-height 200px
	overflow hidden
	overflow-y auto
	z-index 1
		
.custom__bar::-webkit-scrollbar
	width 5px
	padding 5px 0
	background-color #F5F5F5
.custom__bar::-webkit-scrollbar
	width 5px
	padding 5px 0
	background-color #F5F5F5
.custom__bar::-webkit-scrollbar-thumb
	border-radius 10px
	background-color blue
	background-image -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
*/
.model_search_group
	+media(1024px)
		display none 
		

.empty_header__05
	background: #e8e9f1 url(../img/empty_header__05.jpg) no-repeat top right
	margin-bottom: 0
	min-height: 320px
	
.flex-column
	display flex
	flex-direction column
	
.empty_header
	background: #e8e9f1 url('../image/animation_3.gif') no-repeat center right
	margin-bottom: 0
	min-height: 304px
	+media(960px)
		background: #e8e9f1
	p
		font-size: 15px
		font-weight: 400
		line-height: 17px
		color: #1e1e1e
		+media(768px)
			text-align center
	span
		&.blue
			text-decoration underline
			color: #2a82cc
.nopadding
	padding 0
.lh30
	line-height 30px
	
.center__flex
	padding-top 2em
	width 100%
	display flex
	justify-content center
	align-items center
	
.auto--list
	li
		span
			display none
	p
		color: #076abd
	&__inner
		background: #fff

	+media(1024px)
		li
			text-align left
			padding-left 2em
			span
				display inline
				font-size 12px
				color #999
				margin-left 1em
			a
				text-decoration none
				color: #1e1e1e
		p
			color: #076abd
			font-family: "Open Sans"
			font-size: 16px
			font-weight: 400
			line-height: 16px
.product-info
	.cart
		+media(768px)
			display: inline-block
			float: left
			width: 100%
			display: flex
			justify-content: center

.product-info
	.advantages
		+media(480px)
			display: block
			clear: left
			margin: 0
			padding: 0 15px 0 35px

.scrollbar
	&:nth-child(1)
		margin-top 0
		
.container h1
	+media(768px)
		margin-top 4em
		
.order_item
	+media(768px)
		display flex
		flex-direction column
		justify-content center
		align-items center
.order_text
	+media(768px)
		margin 0

.order_list	
	+media(768px)
		margin-bottom 2em
	.owl-dots
		margin 0
		justify-content center
		
.order_button
	margin-top 2em
	
.contact-flex
	+media(768px)
		flex-direction column
		align-items flex-start
.contact_address
	+media(768px)
		p
			text-align left

.footer_links
	+media(768px)
		text-align left
		a
			text-align: left
			border-top: 1px solid #95c1e6
			border-bottom: 1px solid #95c1e6
			margin: -1px 0 0 0
			padding: 18px 0
			background: url(../img/arrow__white.svg) no-repeat 95% center
			width: 110%
			margin-left: -5%
			padding-left: 5%

.footer_logo
	+media(960px)
		display: flex
		float: none
		justify-content: center
		width: 100%


.call
	+media(768px)
		background #3990d2
.call_form 
	.btn-block
		+media(768px)
			width 100%
			max-width 100%
		
.header_content
	+media(768px)
		line-height: normal
		min-height: 0
		padding: 0
		display: flex
		flex-direction column-reverse

.header_menu
	+media(768px)
		float: none
		position: relative
		z-index: 5
		margin-top: -55px
.descr
	line-height 1
.owl-item
	+media(768px)
		padding 0
.overlay
	position fixed
	width 100%
	height 100%
	display flex
	justify-content center
	align-items center
	top 0
	left 0
	background rgba(0,0,0, .5)
	z-index 1010
	.model_search_form
		display flex
		flex-direction column
		justify-content center
		align-items center
	.model_search_head
		width 420px
		margin 0 auto
		position relative
		+media(480px)
			width 320px
			p
				font-size 16px
		label
			margin 10px 0
		p
			font-size: 20px
			font-weight: 700
			line-height: 22px
			text-transform: uppercase
			text-align center
		.model_search_w_28,
		.model_search_w_16
			width 100%
	.model_search_filter
		padding 2em
		+media(480px)
			padding 0

.close__overlay
	position absolute
	top -1.5em
	right -1.5em
	cursor pointer
	transition .5s ease all
	+media(768px)
		top: .5em
		right: .5em
		width: 2em
		&:hover
			transform rotate(0)
	&:hover
		transform rotate(180deg)
.overlay__parent
	display none
	
.cursor__pointer
	cursor pointer